footer{
    position: fixed;
    z-index: 2;
    bottom: 0vh;
}

div#plusIcon {
    font-size: x-large;
    height: 5vh;
}

#plusIcon i {
    background-color: rgb(0,172,237);
    width: 16vw;
    height: 8.5vh;
    text-align: center;
    position: relative;
    top: -19%;
    float: right;
    right: 0.5em;
    border-radius: 50%;
    color: white;
}

.fa-plus:before, .fa-envelope:before {
    position: relative;
    top: 30%;
}

#tabs {
    display: flex;
    height: 9vh;
    width: 100vw;
    background-color: white;
    border-top: solid 0.1px #3c3c3c3b;
}

.tabs-options{
    flex: 1;
    text-align: center;
}

.fa-home {
    content: "\f015";
    border-bottom: solid 0.1em rgb(0,172,237);
}

.fa-search{
    border-bottom: none;
}

.icon {
    color: #192734;
    font-size: 1.5em !important;
    margin-top: 0.3em;
    position: relative;
    top: 0.6em;
}